body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

#header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #55764e;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #55764e;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.quote-container {
  font-style: italic;
  color: #ccc;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

#baby-yoda-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
}

.fun-fact {
  font-weight: bold;
  color: #55764e;
  margin-top: 20px;
  font-size: 24px;
}